[Desktop Entry]
Icon=text-plain
Name=.zcompdump-dinodevil-5.7.1
Type=Link
URL[$e]=file:$HOME/.zcompdump-dinodevil-5.7.1
X-KDE-LastOpenedWith=org.kde.kate
