[Desktop Entry]
Icon=font-ttf
Name=Fira Code Medium Nerd Font Complete.ttf
Type=Link
URL[$e]=file:$HOME/Downloads/Fira Code Medium Nerd Font Complete.ttf
X-KDE-LastOpenedWith=org.kde.kfontview
